html {
  font-family: Georgia, "Times New Roman", Times, serif;
  scroll-behavior: smooth;
}

body {
  margin: 0%;
}

:root {
  --Body-color: #b1afaf;
  --headerAndfooter-color: #1b1b1b;
  --button-color: #ff4c29;
  --link-color: wheat;
  --title-color: #ff4c29;
  --text-color: #111;
  --text-headerFoter-color: wheat;
  --window-color: #919090dc;
  --icon: #ff4c29;
}

.darkmood {
  --Body-color: #121212;
  --headerAndfooter-color: #1b1b1b;
  --button-color: #ff4c29;
  --link-color: wheat;
  --title-color: #ffffff;
  --text-color: #e5e5e5;
  --text-headerFoter-color: wheat;
  --window-color: #1e1e1e;
  --icon: #ff4c29;
}

header,
footer {
  background-color: var(--headerAndfooter-color);
}

header p,
footer p,
header span {
  color: var(--text-headerFoter-color);
}

button {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: var(--button-color);
  color: var(--link-color);
  padding: 10px 18px;
  box-shadow: 0 0 5px 1px black;
  border-radius: 5px;
  border: none;
  transition: 0.5s;
}

button:hover {
  text-shadow: 0 0 15px wheat;
}

button::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: rgba(255, 255, 255, 0.2);
  transform: rotate(45deg) translateY(100%);
  transition: 0.5s;
}

button:hover::before {
  transform: rotate(45deg) translateY(-100%);
}

a {
  color: var(--link-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
}

p,
span,
pre {
  color: var(--text-color);
}

i {
  color: var(--icon);
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.452);
  backdrop-filter: blur(6px);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ff4c29, #a62717);
  border-radius: 12px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(255, 76, 41, 0.7);
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #ff6f4f, #c4351e);
  box-shadow: 0 0 12px rgba(255, 76, 41, 1);
}

header {
  z-index: 0;
  position: relative;
  overflow: hidden;
  height: 300px;
  filter: drop-shadow(0 6px 5px #ff4c29);
  background-color: var(--headerAndfooter-color);
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-size: cover;
}

#header::before {
  z-index: 1;
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.568);
  z-index: 1;
  pointer-events: none;
}

.material {
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header_search {
  z-index: 2;
  width: 50%;
  height: 35px;
  padding: 15px;
  box-shadow: 0 0 7px 2px black;
  border: 1px solid white;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.163);
  color: wheat;
  position: relative;
  top: 35px;
}

.header_submit {
  z-index: 2;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.163);
  border: 1px solid white;
  border-radius: 7.5px;
  box-shadow: 0 0 7px 2px black;
  font-size: 15px;
  position: relative;
  top: 35px;
  right: 50px;
}

.header_submit i {
  color: wheat;
}

.setting {
  z-index: 2;
  width: 15%;
  display: flex;
  gap: 10px;
  background: transparent;
  position: relative;
  bottom: 40px;
}

.setting button {
  width: 50px;
  height: 40px;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.163);
  border: none;
}

.setting button i {
  font-size: 100%;
  color: wheat;
}

.setting select {
  padding: 0;
  box-shadow: none;
  font-size: 15px;
  background-color: transparent;
  border: none;
  color: wheat;
}

.icon {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  align-self: flex-start;
  position: relative;
  bottom: 30px;
  right: 20px;
}

.icon img {
  width: 100%;
}

/*
.h2a {
  color: #ff4c29;
  margin: 0;
  font-family: "Bowlby One SC", sans-serif;
  font-size: 1.6rem;
}

.h2a span {
  font-family: "Bowlby One SC", sans-serif;
}
*/
.tab {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.a1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 40px 30px 20px;
  text-decoration: none;
  padding: 10px 25px;
  font-weight: 700;
  transition: all 0.2s ease;
}

.a1:hover {
  color: black;
  background-color: #ff4c29;
  border-radius: 20px;
}
.a1Active {
  color: #ff4c29;
  font-weight: bold;
  border-bottom: 2px solid #ff4c29;
}
.mudir {
  background-color: var(--Body-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "dinamic dinamic"
    "filter filter"
    "fixed_n fixed_n"
    "footer footer";
  gap: 30px;
}

.dinamic_news {
  grid-area: dinamic;
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.dinamic_news_image {
  background-color: var(--window-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  box-shadow: 0 0 7px 2px black;
}

.dinamic_news_image img {
  margin: 5px;
  border-radius: 5px;
}

.dinamic_news_text {
  order: 1;
  font-size: 1.5rem;
  text-align: right;
  margin-right: 10px;
  line-height: 50px;
}

.NP {
  margin: 10px;
  padding: 5px 15px;
  font-size: 1.2rem;
  font-weight: 800;
}

.filter {
  grid-area: filter;
  height: 200px;
  display: flex;
  flex-direction: column;

}

.result_filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.filter_title {
  font-size: 30px;
}

.R {
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
}

.result_search {
  color: var(--text-color);
  width: 50%;
  border: 2px solid var(--text-color);
  padding: 12px;
  border-radius: 5px;
  background: url("https://cdn-icons-png.flaticon.com/512/622/622669.png") no-repeat right 8px center;
  background-size: 20px;
  font-size: 18px;
}

.result_search:hover {
  background-color: rgba(240, 248, 255, 0.336);
  transition: all 0.2s ease-in-out;
}

.result_submit {
  font-size: 20px;
  font-weight: 900;
  margin: 10px;
}

#FiltersSelect {
  display: none;
}

.button_filters {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  background-color: wheat;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
}

.BU {
  font-size: 25px;
  border-radius: 5px;
  padding: 10px;
}

.fixed_news {
  grid-area: fixed_n;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.results {
  padding: 40px 20px 0px 20px;
  text-align: right;
  font-size: 30px;
  color: #ff4c29;
}

.all2 {
  background-color: var(--window-color);
}

.news1 {
  background-image: linear-gradient(to right, rgba(240, 248, 255, 0.623), transparent 90%);
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.news2 {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.news3 {
  padding: 20px;
  background-image: linear-gradient(to right, rgba(240, 248, 255, 0.623), transparent 90%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.news4 {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.news5 {
  padding: 20px;
  background-image: linear-gradient(to right, rgba(240, 248, 255, 0.623), transparent 90%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.news6 {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fixed_ntext {
  font-size: 21px;
  text-align: right;
  line-height: 40px;
}

.fixed_nimage {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 65px;
  box-shadow: 0px 0px 4px 4px #ff4c29;
  background-color: #1b1b1b;
  border-top-left-radius: 50% 5%;
  border-top-right-radius: 50% 5%;
}

.search-div {
  position: relative;
  display: inline;
  width: 90%;
  height: 2rem;
}

.search-div input {
  width: 100%;
  height: 100%;
  padding: 0.7rem 0.7rem;
  font-size: 16px;
  border: 2px solid wheat;
  border-radius: 5px;
  background: transparent;
  position: relative;
  z-index: 2;
  outline: none;
}

.search-div .fill {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: #ff4c29;
  z-index: 1;
  transition: width 0.5s ease;
  pointer-events: none;
  border-radius: 5px;
}

.search-div input:focus~.fill {
  width: 100%;
}

.about {
  width: 100%;
  color: wheat;
  display: block;
  order: -1;
}

.about p {
  direction: rtl;
  text-align: right;
  line-height: 1.7rem;
  font-size: 1.2rem;
}

.p2 span {
  color: #ff4c29;
}

.links {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.links a {
  font-size: 2rem;
}

.links a:hover {
  transform: scale(1.1);
}

.aboutlink h2 {
  font-size: 1.7rem;
  color: #ff4c29;
}

.direction {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Services-blog {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Services-blog h2 {
  font-size: 2rem;
  color: #ff4c29;
}

.Services-blog a {
  width: fit-content;
  text-decoration: none;
  color: wheat;
  font-size: 1.2rem;
  text-align: center;
}

.Services-blog a:hover {
  color: #ff4c29;
  word-spacing: 0.3rem;
  transition: all 0.2s ease;
}

.privacy {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.privacy h2 {
  font-size: 2rem;
  color: #ff4c29;
  text-align: center;
}

.privacy a {
  width: fit-content;
  text-decoration: none;
  color: wheat;
  font-size: 1.2rem;
  align-self: center;
}

.privacy a:hover {
  color: #ff4c29;
  word-spacing: 0.3rem;
  transition: all 0.2s ease;
}

.map {
  flex: 1;
}

.map iframe {
  width: 50%;
  margin-left: 5rem;
  border: #ff4c29 2px solid;
}

.scroolZero {
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
  position: fixed;
  bottom: 3%;
  right: 2%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ff4c29;
  box-shadow: 0 0 5px 0 #111;
}

.scroolZero:hover {
  background-color: rgba(245, 222, 179, 0.651)
}

.scroolZero i {
  position: relative;
  right: 5px;
}

/*Responsive to mobile*/
@media (max-width: 600px) {
  .headerr {
    margin: 0;
    padding: 0;
  }

  .icon {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
    background-color: #1b1b1b;
    flex: 1;
  }

  .icon img {
    width: 100%;
  }

  .h2a {
    font-size: 1.5rem;
    margin: 0;
  }

  .tab {
    flex-direction: column;
    gap: 0.4rem;
    flex: 1;
  }

  .tab a {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
  }

  .dinamic_news_image {
    flex-direction: column;
  }

  .dinamic_news_image img {
    width: 80vw;
    padding: 1rem 0;
  }

  .dinamic_news_text {
    margin: 0;
    padding: 0.5rem;
    font-size: 1.2rem;
  }

  .dinamic_news_button {
    align-self: center;
  }

  .NP {
    margin: 1rem;
    font-size: 1.5rem;
  }

  .button_filters {
    display: none;
  }

  #FiltersSelect {
    cursor: pointer;
    margin: 3rem auto;
    display: flex;
    width: 80vw;
    font-size: 1rem;
    padding: 0.7rem;
    border: 5px solid #ff4c29;
    background-color: wheat;
  }

  #FiltersSelect option {
    color: #ff4c29;
  }

  #FiltersSelect:hover {
    border: 5px solid;
    border-image: linear-gradient(45deg, #ff4c29, #e4b4aa) 1;
  }

  .fixed_nimage {
    width: 40vw;
  }

  .fixed_ntext {
    font-size: 1rem;
  }

  .all2 {
    padding: 0 0.5rem;
  }

  .aboutlink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }

  .search-div {
    position: relative;
    display: inline;
    width: 90%;
    height: 1.5rem;
  }

  .search-div input {
    width: 100%;
    height: 100%;
    padding: 0.7rem 0.7rem;
    font-size: 16px;
    border: 2px solid wheat;
    border-radius: 5px;
    background: transparent;
    position: relative;
    z-index: 2;
    outline: none;
  }

  .search-div .fill {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #ff4c29;
    z-index: 1;
    transition: width 0.5s ease;
    pointer-events: none;
    border-radius: 5px;
  }

  .search-div input:focus~.fill {
    width: 100%;
  }

  .about {
    width: 100%;
    color: wheat;
    display: block;
  }

  .about p {
    direction: rtl;
    text-align: center;
    line-height: 1.7rem;
    font-size: 0.7rem;
  }

  .p2 span {
    color: #ff4c29;
  }

  h2 {
    font-size: 1.2rem;
    color: #ff4c29;
  }

  .links {
    width: 100%;
    justify-content: space-evenly;
    margin: 0;
  }

  .links a {
    margin: 0 0 0 0.2rem;
    font-size: 1rem;
  }

  .links a:hover {
    transform: scale(1.1);
  }

  .direction {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Services-blog {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .Services-blog h2 {
    font-size: 1.1rem;
    color: #ff4c29;
    text-align: center;
  }

  .Services-blog a {
    width: 100%;
    text-decoration: none;
    color: wheat;
    font-size: 0.7rem;
    text-align: center;
  }

  .Services-blog a:hover {
    color: #ff4c29;
    word-spacing: 0.3rem;
    transition: all 0.2s ease;
  }

  .map {
    display: block;
    flex: 1;
  }

  .map iframe {
    margin: 0;
    width: 80%;
    height: 30%;
    border: #ff4c29 2px solid;
  }

  .privacy {
    display: none;
  }
}
