/*صفحة المتجر*/
body {
  margin: 0%;
}

:root {
  --Body-color: #b1afaf;
  --feaderAndfooter-color: #1b1b1b;
  --button-color: #ff4c29;
  --link-color: wheat;
  --title-color: #ff4c29;
  --text-color: #111;
  --text-headerFoter-color: wheat;
  --window-color: #919090dc;
  --icon: #ff4c29;
  --font-English: Georgia, "Times New Roman", Times, serif;
}

header,
footer {
  background-color: var(--feaderAndfooter-color);
}

button {
  background-color: var(--button-color);
  color: var(--link-color);
  font-family: var(--font-English);
}

a {
  color: var(--link-color);
  font-size: var(--font-English);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-size: var(--font-English);
}

p,
span,
pre {
  color: var(--text-color);
  font-size: var(--font-English);
}

i {
  color: var(--icon);
}

header p,
footer p,
header span {
  color: var(--text-headerFoter-color);
  font-size: var(--font-English);
}

.controlar {
  background-color: #b1afaf;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "hrr hrr"
    "sale suggestions"
    "view view"
    "view_search view_search"
    "foo2 foo2";
  gap: 40px;
}

.hr {
  grid-area: hrr;
  filter: drop-shadow(0 6px 5px #ff4c29);
  background-color: #1b1b1b;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.icon {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100%;
}

.icon img {
  width: 80%;
  filter: drop-shadow(0px 1px 1px wheat);
}

.h2a {
  margin: 0;
  color: #ff4c29;
  font-family: "Bowlby One SC", sans-serif;
  font-size: 2rem;
}

.h2a span {
  font-family: "Bowlby One SC", sans-serif;
}

.tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.a1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 40px 30px 20px;
  text-decoration: none;
  color: wheat;
  padding: 10px 25px;
  font-size: 1rem;
  font-weight: 700;
  transition: all 0.2s ease;
}

.a1:hover {
  color: black;
  background-color: #ff4c29;
  border-radius: 20px;
}

.sale {
  margin: 20px;
  grid-area: sale;
  border-radius: 15px;
  box-shadow: 0px 0px 7px 2px black;
  background-color: #919090dc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.suggestions {
  margin: 20px;
  grid-area: suggestions;
  border-radius: 15px;
  box-shadow: 0px 0px 7px 2px black;
  background-color: #919090dc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.car_name {
  color: black;
  font-size: 30px;
  font-weight: 800;
  text-shadow: 0.5px 0.5px 0.5px white;
  -webkit-text-stroke: 0.08px white;
}

.sale_title {
  color: #ff4c29;
  font-size: 45px;
  font-weight: 900;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px black;
}

.sale_img-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 15px;
}

.sale_text {
  order: 1;
  direction: rtl;
  font-size: 18px;
  font-weight: 800;
  color: black;
  line-height: 30px;
  list-style: square;
}

.sale_img {
  width: 280px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px black;
}

.offer-go {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  margin-top: 15px;
  padding: 10px;
}

.o-go {
  gap: 25px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.go11 {
  font-size: 22px;
  font-weight: 800;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px black;
  border: none;
}

.go12 {
  font-size: 22px;
  font-weight: 800;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px black;
  border: none;
}

.off:hover {
  background-color: #ff4c29;
  border-radius: 7px;
  transition: all 0.2s ease-in-out;
}

.suggestion-go {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  margin-top: 15px;
  padding: 10px;
}

.s-go {
  gap: 25px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.go21 {
  font-size: 22px;
  font-weight: 800;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px black;
  border: none;
}

.go22 {
  font-size: 22px;
  font-weight: 800;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px black;
  border: none;
}

.sug:hover {
  background-color: #ff4c29;
  border-radius: 7px;
  transition: all 0.2s ease-in-out;
}

/**/

.view {
  grid-area: view;
  border-radius: 15px;
  box-shadow: 0px 0px 7px 2px black;
  background-color: #919090dc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.company {
  display: flex;
  justify-content: space-between;
}

.marsids {
  width: 158px;
  height: 158px;
  margin: 50px;
  background-image: linear-gradient(to left, silver, transparent 90%);
}

.bmw {
  width: 158px;
  height: 158px;
  margin: 50px;
  background-image: linear-gradient(
    to left,
    rgb(72, 168, 233),
    transparent 95%
  );
}

.hyundai {
  width: 158px;
  height: 158px;
  margin: 50px;
  background-image: linear-gradient(to left, rgb(7, 7, 151), transparent 95%);
}

.kia {
  width: 158px;
  height: 158px;
  margin: 50px;
  background-image: linear-gradient(to left, rgb(233, 56, 56), transparent 95%);
}

.img {
  padding: 5px;
  border: 4px solid #1b1b1b;
  border-radius: 10px;
}

.img:hover {
  cursor: pointer;
  box-shadow: 0 0px 10px #111;
  transform: translateY(-5px);
  transition: all 0.2s ease;
}

.view_search {
  grid-area: view_search;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input_search {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.d_s_label {
  margin: 25px;
  text-align: center;
}

.s_label {
  padding: 15px 5px;
  border-radius: 10px;
  font-size: 50px;
  font-weight: 800;
  margin-top: 45px;
  color: #ff4c29;
  -webkit-text-stroke: 2px black;
  background: linear-gradient(270deg, #ff4c29, black, #ff4c29, black);
  background-size: 1000% 1000%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: moveGradient 5s linear infinite alternate;
  text-align: center;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.in_search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #919090dc;
  border-radius: 20px 5px 20px 5px;
  border: black 2px solid;
  box-shadow: 0px 0px 7px 2px black;
}

.in_search [placeholder] {
  background-color: azure;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
  margin: 30px;
  border: none;
  color: black;
}

.in_search [placeholder]:hover {
  box-shadow: 0px 0px 1px 1px #ff4c29;
}

.in_submit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.in_s {
  text-decoration: none;
  background-color: #ff4c29;
  padding: 7px 15px;
  font-size: 20px;
  font-weight: 700;
  margin: 30px;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px black;
}

.in_s:hover {
  border-radius: 10px;
  background-color: #ff4c29;
  transition: border-radius 0.2s ease;
}

.img_list_search {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--window-color);
  border-radius: 15px;
  padding: 25px;
  color: white;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 7px 2px black;
}

.the_car {
  font-size: 40px;
  font-weight: bold;

  animation: glow 1s infinite alternate;
  text-shadow: 0 0 5px #ff4, 0 0 10px #f80, 0 0 20px #f00, 0 0 40px #f00,
    0 0 80px #f00;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #ff4, 0 0 10px #f80, 0 0 20px #f00, 0 0 30px #f00,
      0 0 40px #f00;
  }

  100% {
    text-shadow: 0 0 10px #ff4, 0 0 20px #f80, 0 0 30px #f00, 0 0 50px #f00,
      0 0 70px #f00;
  }
}

.list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.img_search {
  width: 500px;
  box-shadow: 0 0 7px 2px black;
  margin: 20px;
  border-radius: 10px;
}

.list_s {
  list-style: none;
  font-weight: 800;
  font-size: 23px;
  direction: rtl;
  line-height: 50px;
  word-spacing: 5px;
}

.list_s li {
  color: var(--text-color);
  border-bottom: 2px solid var(--icon);
}

i {
  width: 15px;
  text-shadow: 1px 1px 1px black;
  margin-left: 20px;
}

.aboutlink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  grid-area: foo2;
  padding: 65px;
  box-shadow: 0px 0px 4px 4px #ff4c29;
  background-color: #1b1b1b;
}

.search-div {
  position: relative;
  display: inline;
  width: 90%;
  height: 2rem;
}

.search-div input {
  width: 100%;
  height: 100%;
  padding: 0.7rem 0.7rem;
  font-size: 16px;
  border: 2px solid wheat;
  border-radius: 5px;
  background: transparent;
  position: relative;
  z-index: 2;
  outline: none;
}

.search-div .fill {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: #ff4c29;
  z-index: 1;
  transition: width 0.5s ease;
  pointer-events: none;
  border-radius: 5px;
}

.search-div input:focus ~ .fill {
  width: 100%;
}

.about {
  width: 100%;
  color: wheat;
  display: block;
  order: -1;
}

.about p {
  direction: rtl;
  text-align: right;
  line-height: 1.7rem;
  font-size: 1.2rem;
}

.p2 span {
  color: #ff4c29;
}

.links {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.links a {
  font-size: 2rem;
}

.links a:hover {
  transform: scale(1.1);
}

.aboutlink h2 {
  font-size: 1.7rem;
  color: #ff4c29;
}

.direction {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Services-blog {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Services-blog h2 {
  font-size: 2rem;
  color: #ff4c29;
}

.Services-blog a {
  width: fit-content;
  text-decoration: none;
  color: wheat;
  font-size: 1.2rem;
  text-align: center;
}

.Services-blog a:hover {
  color: #ff4c29;
  word-spacing: 0.3rem;
  transition: all 0.2s ease;
}

.privacy {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.privacy h2 {
  font-size: 2rem;
  color: #ff4c29;
  text-align: center;
}

.privacy a {
  width: fit-content;
  text-decoration: none;
  color: wheat;
  font-size: 1.2rem;
  align-self: center;
}

.privacy a:hover {
  color: #ff4c29;
  word-spacing: 0.3rem;
  transition: all 0.2s ease;
}

.map {
  flex: 1;
}

.map iframe {
  width: 50%;
  margin-left: 5rem;
  border: #ff4c29 2px solid;
}

/*Responsive to mobile*/
@media (max-width: 600px) {
  .body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .hr {
    margin: 0;
    padding: 1rem;
  }

  .icon {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
    background-color: #1b1b1b;
    flex: 1;
  }

  .icon img {
    width: 100%;
  }

  .h2a {
    font-size: 1.5rem;
    margin: 0;
  }

  .tab {
    flex-direction: column;
    gap: 0.4rem;
    flex: 1;
  }

  .tab a {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
  }

  .controlar {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 2.5rem;
  }

  .sale {
    width: 90vw;
    margin: 0 auto;
    padding: 0.7rem 0;
  }

  .sale_title {
    margin: 0;
    font-size: 1.8rem;
  }

  .car_name {
    font-size: 1.3rem;
  }

  .sale_img-text {
    flex-direction: column;
  }

  .sale_img {
    width: 90%;
  }

  .sale_text {
    line-height: 2rem;
    font-size: 0.8rem;
  }

  .sale_price-submit {
    margin: 0;
    gap: 1rem;
  }

  .price_new {
    font-size: 1rem;
    margin: 0;
    padding: 0.3rem;
  }

  .price_old {
    font-size: 1rem;
    margin: 0;
    padding: 0.3rem;
  }

  .go {
    font-size: 1rem;
    margin: 0;
    padding: 0.3rem;
  }

  .suggestions {
    width: 90vw;
    margin: 0 auto;
    padding: 0.7rem 0;
  }

  .sugg_title {
    font-size: 1.8rem;
  }

  .sugg_img_text {
    flex-direction: column;
  }

  .sugg_img {
    width: 90%;
  }

  .sugg_text {
    line-height: 2rem;
    font-size: 0.8rem;
  }

  .goo_div {
    margin: 0;
    gap: 0.5rem;
  }

  .goo {
    font-size: 1rem;
  }

  .view {
    width: 90vw;
    height: auto;
    margin: 0 auto;
  }

  .company {
    padding: 0.7rem;
    margin: 0;
    gap: 0.5rem;
  }

  .company img {
    width: 25%;
  }

  .img {
    padding: 0.3rem;
  }

  .view_search {
    margin: 0;
    bottom: 0;
    gap: 1rem;
  }

  .input_search {
    margin: 0;
    flex-direction: column;
    gap: 2rem;
  }

  .d_s_label {
    margin: 0;
  }

  .s_label {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
  }

  .in_search {
    width: 70vw;
    padding: 0.5rem;
  }

  .in_ss {
    width: 90%;
    margin: 0;
    padding: 0.2rem;
    font-size: 0.5rem;
  }

  .in_ss::placeholder {
    font-size: 1rem;
  }

  .in_submit {
    gap: 0;
  }

  .in_s {
    margin: 0;
    font-size: 1rem;
  }

  .img_list_search {
    width: 80vw;
    padding: 1rem;
    margin: 0 auto;
    gap: 1rem;
  }

  .list {
    flex-direction: column;
    gap: 1rem;
  }

  .img_search {
    top: 0;
    right: 0;
    margin: 0;
    width: 90%;
  }

  .list_s {
    width: 90%;
    top: 0;
    left: 0;
    margin: 0 auto;
    line-height: 1.5rem;
  }

  .list_s li {
    font-size: 0.7rem;
  }

  .the_car {
    bottom: 0;
    right: 0;
    font-size: 1.2rem;
  }

  .aboutlink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }

  .search-div {
    position: relative;
    display: inline;
    width: 90%;
    height: 1.5rem;
  }

  .search-div input {
    width: 100%;
    height: 100%;
    padding: 0.7rem 0.7rem;
    font-size: 16px;
    border: 2px solid wheat;
    border-radius: 5px;
    background: transparent;
    position: relative;
    z-index: 2;
    outline: none;
  }

  .search-div .fill {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #ff4c29;
    z-index: 1;
    transition: width 0.5s ease;
    pointer-events: none;
    border-radius: 5px;
  }

  .search-div input:focus ~ .fill {
    width: 100%;
  }

  .about {
    width: 100%;
    color: wheat;
    display: block;
  }

  .about p {
    direction: rtl;
    text-align: center;
    line-height: 1.7rem;
    font-size: 0.7rem;
  }

  .p2 span {
    color: #ff4c29;
  }

  h2 {
    font-size: 1.2rem;
    color: #ff4c29;
  }

  .links {
    width: 100%;
    justify-content: center;
    margin: 0;
  }

  .links a {
    margin: 0 0 0 0.2rem;
    font-size: 1rem;
  }

  .links a:hover {
    transform: scale(1.1);
  }

  .direction {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Services-blog {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .Services-blog h2 {
    font-size: 1.1rem;
    color: #ff4c29;
    text-align: center;
  }

  .Services-blog a {
    width: 100%;
    text-decoration: none;
    color: wheat;
    font-size: 0.7rem;
    text-align: center;
  }

  .Services-blog a:hover {
    color: #ff4c29;
    word-spacing: 0.3rem;
    transition: all 0.2s ease;
  }

  .map {
    display: block;
    flex: 1;
  }

  .map iframe {
    margin: 0;
    width: 80%;
    height: 30%;
    border: #ff4c29 2px solid;
  }

  .privacy {
    display: none;
  }
}
