/*صفحة المتجر*/
body {
    margin: 0%;
}

.controlar {
    background-color: #b1afaf;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px 800px 1200px 1200px 200px;
    grid-template-areas:
        "hrr hrr"
        "sale suggestions"
        "view view"
        "view_search view_search"
        "foo2 foo2";
}

.hr {
    grid-area: hrr;
    box-shadow: 0px 0px 4px 4px #FF4C29;
    background-color: #1B1B1B;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icon {
    background-image: url(img/iconGeneral.png);
    background-size: cover;
    width: 150px;
    height: 150px;
}

.h2a {
    position: relative;
    bottom: 45px;
    color: #d4b4ad;
    font-family: "Zen Dots", sans-serif;
    /*خط اسم الموقع*/
    font-size: 50px;
    text-shadow: 4px 2px 2px #FF4C29;
}

.h2b {
    position: relative;
    bottom: 45px;
    color: #d4b4ad;
    font-family: "Zen Dots", sans-serif;
    /*خط اسم الموقع*/
    font-weight: bolder;
    font-size: 40px;
    margin-left: 20px;
}

.tab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.a1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 40px 30px 20px;
    text-decoration: none;
    color: wheat;
    padding: 10px 25px;
    font-family: "Quantico", sans-serif;
    /*خط الازرار والخيارات*/
    font-size: 20px;
    font-weight: 700;
    transition: all 0.2s ease;
}

.a1:hover {
    color: black;
    background-color: #FF4C29;
    border-radius: 20px;
}


.sale {
    margin: 20px;
    grid-area: sale;
    border-radius: 15px;
    box-shadow: 0px 0px 4px 4px #FF4C29;
    background-color: #444444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sale_title {
    margin-top: 50px;
    color: #FF4C29;
    font-family: "Black Ops One", system-ui;
    font-size: 30px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px black;
}

.sale_img-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.sale_text {
    order: 1;
    direction: rtl;
    font-family: "Almarai", sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: wheat;
    line-height: 45px;
    list-style: square;
    text-shadow: 1px 1px 1px black;
}

.sale_img {
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px black;
}

.sale_price-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 15px;
}

.go {
    margin-right: 220px;
    padding: 5px 20px;
    font-family: "Almarai", sans-serif;
    font-size: 18px;
    font-weight: 700;
    background-color: #44444400;
    border: none;
    color: wheat;
}

.go:hover {
    background-color: #FF4C29;
    border-radius: 7px;
    transition: all 0.2s ease-in-out;
}

.price_new {
    padding: 5px;
    border-radius: 7px;
    order: 1;
    font-family: "Almarai", sans-serif;
    color: aliceblue;
    animation: new 1s infinite step-end alternate;
}

@keyframes new {
    0% {
        background-color: #44444400;
    }

    50% {
        background-color: green;
    }

    100% {
        background-color: #44444400;
    }
}

.price_old {
    padding: 5px;
    border-radius: 7px;
    order: 1;
    font-family: "Almarai", sans-serif;
    color: aliceblue;
    text-decoration: 2px solid orange line-through;
    animation: old 1s infinite 1s step-end alternate;
}

@keyframes old {
    0% {
        background-color: #44444400;
    }

    50% {
        background-color: red;
    }

    100% {
        background-color: #44444400;
    }
}


.suggestions {
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 4px 4px #FF4C29;
    background-color: #444444;
    grid-area: suggestions;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sugg_title {
    margin-top: 20px;
    color: #FF4C29;
    font-family: "Black Ops One", system-ui;
    font-size: 30px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px black;
}

.car_name {
    color: #d4b4ad;
    font-family: "Almarai", sans-serif;
    text-shadow: 1px 1px 1px black;
}

.sugg_img_text {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sugg_img {
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px black;
}

.sugg_text {
    order: 1;
    direction: rtl;
    font-family: "Almarai", sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: wheat;
    line-height: 45px;
    list-style: square;
    text-shadow: 1px 1px 1px black;
}

.goo_div {
    margin-top: 45px;
    margin-right: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.goo {
    padding: 5px 20px;
    font-family: "Almarai", sans-serif;
    font-size: 18px;
    font-weight: 700;
    background-color: #44444400;
    border: none;
    color: wheat;
}

.goo:hover {
    background-color: #FF4C29;
    border-radius: 7px;
    transition: all 0.2s ease-in-out;
}




.view {
    grid-area: view;
    height: 900px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 4px 4px #FF4C29;
    background-color: #444444;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.company {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 60px;
    padding: 60px 60px 60px 10px;
    margin-bottom: 45px;
}

.categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 200px;
    margin-bottom: 130px;

}

.category-buttons {
    animation: cati 1.5s 1 ease-in-out normal;
}

@keyframes cati {
    0% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0px);
    }
}

.category-buttons button {
    color: wheat;
    background-color: #1b1b1b00;
    border: none;
    font-family: "Quantico", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 1px 1px 1px black;
}

.category-buttons button:hover {
    cursor: pointer;
    color: #FF4C29;
    text-shadow: 1px 1px 1px black;
    transform: scale(1.1);
    transition: all 0.1s ease;
}

#kiaCategories {
    margin-bottom: 40Px;
}

.marsids {
    padding: 10px 20px 10px 20px;
    background-image: linear-gradient(to left, silver, transparent 90%);
}

.bmw {
    padding: 20px;
    background-image: linear-gradient(to left, rgb(72, 168, 233), transparent 95%);
}

.hyundai {
    background-image: linear-gradient(to left, rgb(7, 7, 151), transparent 95%);
}

.kia {
    padding: 25px 10px 25px 10px;
    background-image: linear-gradient(to left, rgb(233, 56, 56), transparent 95%);
}

.img {
    border: 4px solid #1B1B1B;
    border-radius: 10px;
}

.img:hover {
    box-shadow: 2px 3px 4px 2px black;
    transform: skewX(-5deg);
    transition: all 0.2s ease;
}

.car-display {
    position: absolute;
    left: 50px;
}

.span_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #1B1B1B;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #FF4C29;
}

.span_buttons span {
    color: wheat;
    font-family: "Quantico", sans-serif;
    font-size: 25px;

}

.span_buttons button {
    font-family: "Almarai", sans-serif;
    font-size: 17px;
    color: wheat;
    background-color: #1b1b1b00;
    border: none;
    padding: 5px;
}

.span_buttons button:hover {
    background-color: #FF4C29;
    border-radius: 5px;
    transition: all 0.2s ease;
}



.view_search {
    position: relative;
    bottom: 100px;
    margin: 20px;
    grid-area: view_search;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input_search {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.d_s_label {
    margin: 25px;
    text-align: center;
}

.s_label {
    padding: 15px 5px;
    border-radius: 10px;
    font-size: 50px;
    font-weight: 800;
    margin-top: 45px;
    color: #FF4C29;
    font-family: "Quantico", sans-serif;
    background: linear-gradient(270deg, #FF4C29, black, #FF4C29, black);
    background-size: 1000% 1000%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: moveGradient 5s linear infinite alternate;
    text-align: center;
}

@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.in_search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4444449a;
    border-radius: 20px 5px 20px 5px;
    border: #FF4C29 2px solid;
    box-shadow: #1B1B1B 0px 0px 3px 1px;
}

.in_search [placeholder] {
    background-color: azure;
    padding: 10px 15px;
    font-family: "Quantico", sans-serif;
    font-size: 20px;
    border-radius: 5px;
    margin: 30px;
    border: none;
    color: black;
}

.in_search [placeholder]:hover {
    box-shadow: 0px 0px 1px 1px #FF4C29;
}

.in_submit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.in_s {
    text-decoration: none;
    background-color: #1b1b1b00;
    padding: 7px 15px;
    font-family: "Quantico", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 30px;
    color: wheat;
    border: none;
}

.in_s:hover {
    border-radius: 10px;
    background-color: #FF4C29;
    transition: border-radius 0.2s ease;
}

.img_list_search {
    padding: 75px 0px;
    margin-top: 80px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/abstract-luxury-soft-red-background-christmas-valentines-layout-designstudioroom-web-template-business-report-with-smooth-circle-gradient-color_1258-101807.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    color: white;
    position: relative;
    z-index: 1;
}

.img_list_search .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    z-index: -1;
}

.the_car {
    position: relative;
    bottom: 15px;
    right: 30px;
    font-family: "Quantico", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
    position: relative;
    animation: glow 1s infinite alternate;
    text-shadow:
        0 0 5px #ff4,
        0 0 10px #f80,
        0 0 20px #f00,
        0 0 40px #f00,
        0 0 80px #f00;
}

@keyframes glow {
    0% {
        text-shadow:
            0 0 5px #ff4,
            0 0 10px #f80,
            0 0 20px #f00,
            0 0 30px #f00,
            0 0 40px #f00;
    }

    100% {
        text-shadow:
            0 0 10px #ff4,
            0 0 20px #f80,
            0 0 30px #f00,
            0 0 50px #f00,
            0 0 70px #f00;
    }
}

.list {
    font-family: "Alexandria", sans-serif;
    font-weight: 800;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img_search {
    border: #f80 3px solid;
    box-shadow: 1px 1px 2px 0px black;
    margin: 20px;
    border-radius: 10px;
    position: relative;
    right: 170px;
    top: 50px;
}

.list_s {
    list-style: none;
    text-shadow: 1px 1px 2px black;
    color: antiquewhite;
    font-size: 23px;
    direction: rtl;
    font-family: "Almarai", sans-serif;
    line-height: 50px;
    position: relative;
    left: 150px;
    top: 40px;
    word-spacing: 5px;
}

.list_s li {
    border-bottom: 2px solid #f80;
}

i {
    color: #f80;
    text-shadow: 1px 1px 1px black;
    margin-left: 20px;
}

.foo2 {
    grid-area: foo2;
    padding: 65px;
    box-shadow: 0px 0px 4px 4px #FF4C29;
    background-color: #1B1B1B;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.a2 {
    font-family: "Zen Dots", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 50px;
    text-transform: capitalize;

}

.a2:hover {
    text-decoration: underline 2px #FF4C29;
}