/*صفحة تسجيل الدخول*/

body {
    margin: 0%;
}

.container2 {
    background-color: #b1afaf;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 1fr 1fr 1fr auto;
    grid-template-areas:
        "head2 head2 head2"
        "title title title"
        "inputinfo inputinfo inputinfo"
        "cu_sub cu_sub cu_sub"
        "aboutlinkk aboutlinkk aboutlinkk";
}

/*الشريط العلوي*/
.header {
    box-shadow: 0px 0px 4px 4px #FF4C29;
    background-color: #1B1B1B;
    grid-area: head2;
    display: flex;
    justify-content: space-evenly;
}

.icon {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.icon img {
    width: 80%;
    filter: drop-shadow(0px 1px 1px wheat);
}

.h2a {
    margin: 0;
    color: #FF4C29;
    font-family: "Bowlby One SC", sans-serif;
    /*خط اسم الموقع*/
    font-size: 2rem;
}

.h2a span {
    font-family: "Bowlby One SC", sans-serif;
    color: wheat;
}

.tab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.a1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 40px 30px 20px;
    text-decoration: none;
    color: wheat;
    padding: 10px 25px;
    font-family: "Quantico", sans-serif;
    /*خط الازرار والخيارات*/
    font-size: 20px;
    font-weight: 700;
    transition: all 0.2s ease;
}

.a1:hover {
    color: black;
    background-color: #FF4C29;
    border-radius: 20px;
}

/*حاوية tit*/
.title {
    animation: slideFromTop 1s ease-out forwards;
    grid-area: title;
}

/*النص العلوي*/
.tit {
    color: #FF4C29;
    text-shadow: 1px 1px 0px black;
    font-family: "Zen Dots", sans-serif;
    font-size: 35px;
    margin-top: 150px;
    margin-left: 350px;
}

/*حاوية الحقول الثلاثة*/
.input_info {
    grid-area: inputinfo;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

/*الحقول الثلاثة*/
.information {
    font-family: "Quantico", sans-serif;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.356);
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
    animation-delay: 0.5s;
}

.information:hover {
    cursor: pointer;
    background-color: #e7e6e6;
    transition: background-color 0.3s ease-out;
}

.information:focus {
    box-shadow: 0px 0px 4px 4px #FF4C29 inset;
}

/*حاوية الخيارات وزر الارسال*/
.country_submit {
    grid-area: cu_sub;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-bottom: 150px;
}

/*حاوية الخيارات ووصف الخيارات*/
.countext_country {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-right: 40px;
}

/*الخيارات (select)*/
.country {
    font-family: "Quantico", sans-serif;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.356);
    padding: 5px;
    font-size: 20px;
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
    animation-delay: 1s;
}

.country:hover {
    cursor: pointer;
    background-color: #e7e6e6;
    transition: background-color 0.3s ease-out
}

.country:focus {
    background-color: #e67c67;
}

/*وصف الخيارات*/
.countext {
    font-family: "Quantico", sans-serif;
    font-size: 18px;
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
    animation-delay: 0.8s;
}

/*زر الارسال*/
.submit {
    font-family: "Quantico", sans-serif;
    padding: 5px 20px;
    margin-right: 25px;
    font-size: 19px;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.356);
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
    animation-delay: 1.2s;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.submit:hover {
    background-color: #e7e6e6;
}

/*الذيل*/
.aboutlink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    grid-area: aboutlinkk;
    padding: 65px;
    box-shadow: 0px 0px 4px 4px #FF4C29;
    background-color: #1B1B1B;
}

.search-div {
    position: relative;
    display: inline;
    width: 90%;
    height: 2rem;
}

.search-div input {
    width: 100%;
    height: 100%;
    padding: 0.7rem 0.7rem;
    font-size: 16px;
    border: 2px solid wheat;
    border-radius: 5px;
    background: transparent;
    position: relative;
    z-index: 2;
    outline: none;
}

.search-div .fill {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #FF4C29;
    z-index: 1;
    transition: width 0.5s ease;
    pointer-events: none;
    border-radius: 5px;
}

.search-div input:focus~.fill {
    width: 100%;
}

.about {
    width: 100%;
    color: wheat;
    display: block;
    order: -1;
}

.about p {
    direction: rtl;
    text-align: right;
    line-height: 1.7rem;
    font-family: "Almarai", sans-serif;
    font-size: 1.2rem;
}

.p2 span {
    font-family: "Zen Dots", sans-serif;
    color: #FF4C29;
}

.links {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.links a {
    font-size: 2rem;
}

.links a:hover {
    transform: scale(1.1);
}

.aboutlink h2 {
    font-size: 1.7rem;
    font-family: "Quantico", sans-serif;
    color: #FF4C29;
}

.direction {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Services-blog {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Services-blog h2 {
    font-size: 2rem;
    font-family: "Quantico", sans-serif;
    color: #FF4C29;

}

.Services-blog a {
    width: fit-content;
    text-decoration: none;
    color: wheat;
    font-family: "Almarai", sans-serif;
    font-size: 1.2rem;
    text-align: center;
}

.Services-blog a:hover {
    color: #FF4C29;
    word-spacing: 0.3rem;
    transition: all 0.2s ease;
}

.privacy {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.privacy h2 {
    font-size: 2rem;
    font-family: "Quantico", sans-serif;
    color: #FF4C29;
    text-align: center;
}

.privacy a {
    width: fit-content;
    text-decoration: none;
    color: wheat;
    font-family: "Almarai", sans-serif;
    font-size: 1.2rem;
    align-self: center;
}

.privacy a:hover {
    color: #FF4C29;
    word-spacing: 0.3rem;
    transition: all 0.2s ease;
}

.map {
    flex: 1;
}

.map iframe {
    width: 50%;
    margin-left: 5rem;
    border: #FF4C29 2px solid;
}






/*Animation*/

/* animation for title*/
@keyframes slideFromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*animation for input & select & submit*/
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
