/*الصفحة الرئيسية*/
body {
    height: 100%;
    margin: 0%;
}

.container {
    background-color: #b1afaf;
    background-size: cover;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 200px repeat(5, auto);
    grid-template-areas:
        "head head"
        "main1 main1"
        "main2 main2"
        "main3 main3"
        "main4 main4"
        "footer footer";
    gap: 7rem;
}

.header {
    grid-area: head;
    box-shadow: 0px 0px 4px 4px #FF4C29;
    background-color: #1B1B1B;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icon {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.icon img {
    width: 80%;
    filter: drop-shadow(0px 1px 1px wheat);
}

.h2a {
    margin: 0;
    color: #FF4C29;
    font-family: "Bowlby One SC", sans-serif;
    /*خط اسم الموقع*/
    font-size: 2rem;
}

.h2a span {
    font-family: "Bowlby One SC", sans-serif;
    color: wheat;
}

.tab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.a1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 40px 30px 20px;
    text-decoration: none;
    color: wheat;
    padding: 10px 25px;
    font-family: "Quantico", sans-serif;
    /*خط الازرار والخيارات*/
    font-size: 20px;
    font-weight: 700;
    transition: all 0.2s ease;
}

.a1:hover {
    color: black;
    background-color: #FF4C29;
    border-radius: 20px;
}

.main1 {
    grid-area: main1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infobar {
    height: 90px;
    width: 40%;
    position: absolute;
    top: 250px;
    left: -100%;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 4px 4px #FF4C29;
    background-color: #1B1B1B;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 0 8px 8px 0;
    white-space: nowrap;
    opacity: 0;
    gap: 10px;
}

.infobar img {
    height: 70px;
    width: 140px;
    object-fit: cover;
    border-radius: 5px;
}

.price1 {
    font-family: "Quantico", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    color: wheat;
    padding: 10px;
    border: #FF4C29 2px solid;
}

/* حركة الشريط */
.slide {
    animation: slideBar 8s ease-in-out forwards;
}

@keyframes slideBar {
    0% {
        left: -100%;
        opacity: 0;
    }

    20% {
        left: 20px;
        opacity: 1;
    }

    80% {
        left: 20px;
        opacity: 1;
    }

    100% {
        left: -100%;
        opacity: 0;
    }
}

.parandimg {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img_news1 {
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0px 0px 2px 2px;
    width: 60%;
    height: 600px;
    margin-left: 20px;
    background-image: url(img/hyundai-unveils-2025-e-2.jpg);
    background-size: cover;
}

.paragraf1 {
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0px 0px 2px 2px;
    margin-right: 20px;
    width: 40%;
    height: 600px;
    background-color: #444444;
}

.h2c {
    color: #FF4C29;
    font-family: "Almarai", sans-serif;
    padding: 10px;
    font-size: 20px;
    text-align: right;
    direction: rtl;
}

.p1 {
    direction: rtl;
    font-size: 20px;
    padding: 30px;
    line-height: 40px;
}

.main2 {
    grid-area: main2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_news2 {
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0px 0px 2px 2px;
    background-image: url(img/Stellantis-plant-morocco.png);
    background-size: cover;
    width: 60%;
    height: 600px;
    margin-left: 20px;
}

.paragraf2 {
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0px 0px 2px 2px;
    margin-right: 20px;
    width: 40%;
    height: 600px;
    background-color: #444444;
}

.h2d {
    font-family: "Almarai", sans-serif;
    color: #FF4C29;
    padding: 10px;
    font-size: 25px;
    text-align: right;
    direction: rtl;
}


.main3 {
    grid-area: main3;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.news1 {
    display: grid;
    padding: 20px;
    border-radius: 10px;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "big big big"
        "big big big"
        "pic pic pic"
    ;
}

.big_photo {
    grid-area: big;
    width: 1210px;
    height: 700px;
    border-radius: 5px;
    border: 5px solid #727171;
    background-size: cover;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.87)22%, transparent 55%), url(img/new-palisade-15.jpg);
}

.img_text0 {
    transform: translateY(470px);
    font-family: "Almarai", sans-serif;
    padding: 20px;
    color: #ccc;
    font-size: 40px;
    text-align: right;
}


.pictures {
    grid-area: pic;
    display: flex;
    justify-content: space-between;
}

.photo1 {
    grid-area: ph1;
    width: 390px;
    height: 200px;
    border-radius: 5px;
    border: 5px solid #727171;
    background-image: url(img/Mercedes-Benz-2026.jpg);
    background-size: cover;
}

.photo2 {
    grid-area: ph2;
    width: 390px;
    height: 200px;
    border-radius: 5px;
    border: 5px solid #727171;
    background-image: url(img/Rolls-Royse-spectre.jpg);
    background-size: cover;
}

.photo3 {
    grid-area: ph3;
    width: 390px;
    height: 200px;
    border-radius: 5px;
    border: 5px solid #727171;
    background-image: url(img/BMW-series-7.jpg);
    background-size: cover;
}

.h2h {
    font-family: "Almarai", sans-serif;
    font-size: 30px;
    padding: 0;
    color: black;
    text-align: right;
    transform: translateY(200px);
}

.h2p {
    font-family: "Almarai", sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    text-align: right;
    transform: translateY(200px);
}

/*----------------*/

.main4 {
    grid-area: main4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.title1 {
    width: 500px;
    height: 300px;
    background-image: url(img/shadoo.png);
    background-size: cover;
    margin-top: 40px;
}

.h2e {
    font-family: "Quantico", sans-serif;
    font-size: 70px;
    text-align: center;
}

.img_gallery {
    display: grid;
    padding: 20px 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 5fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        "hu au bm ma gallary"
        "a b c d imgbig"
        "e f g h imgbig"
        "i j k l imgbig"
        "m n o p imgbig"
        "q r s t imgbig"
        ;
    row-gap: 15px;
    column-gap: 15px;
}

.text_gallary {
    grid-area: gallary;
    width: 50px;
    height: 50px;
}

.logo {
    width: 70px;
    height: 70px;
    mix-blend-mode: multiply;
    margin-left: 31px;
}

.logo:hover {
    transition: 0.3s;
    transform: scale(1.1);
    mix-blend-mode: color-burn;
}

.bm {
    grid-area: bm;
    background-image: url(car/bmw.webp);
    background-size: cover;
}

.ma {
    grid-area: ma;
    background-image: url(Car/Mercedes-Benz-Logo.png);
    background-size: cover;
}

.au {
    grid-area: au;
    background-image: url(Car/audi.webp);
    background-size: cover;
}

.hu {
    grid-area: hu;
    background-image: url(Car/hyundai.webp);
    background-size: cover;
}

.all {
    width: 130px;
    height: 85px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px black;
}

.all:hover {
    transition: 0.3s;
    transform: scale(1.1);
    box-shadow: 0px 0px 6px 0px black;
}

.a {
    grid-area: a;
    background-image: url(Home-gallary/Hyundai-Elantra.webp);
    background-size: cover;
}

.a:hover~.imgbig {
    background-image: url(Home-gallary/Hyundai-Elantra.webp);
    background-size: cover;
}

.b {
    grid-area: b;
    background-image: url(Home-gallary/Audi-A4.avif);
    background-size: cover;
}

.b:hover~.imgbig {
    background-image: url(Home-gallary/Audi-A4.avif);
    background-size: cover;
}

.c {
    grid-area: c;
    background-image: url(Home-gallary/BMW-3series.jpg);
    background-size: cover;

}

.c:hover~.imgbig {
    background-image: url(Home-gallary/BMW-3series.jpg);
    background-size: cover;
}

.d {
    grid-area: d;
    background-image: url(Home-gallary/Mercedes-Bemz-CLS-Class.jpg);
    background-size: cover;
}

.d:hover~.imgbig {
    background-image: url(Home-gallary/Mercedes-Bemz-CLS-Class.jpg);
    background-size: cover;
}

.e {
    grid-area: e;
    background-image: url(Home-gallary/Hyundai-Palisade.avif);
    background-size: cover;
}

.e:hover~.imgbig {
    background-image: url(Home-gallary/Hyundai-Palisade.avif);
    background-size: cover;
}

.f {
    grid-area: f;
    background-image: url(Home-gallary/Audi-Q7.avif);
    background-size: cover;
}

.f:hover~.imgbig {
    background-image: url(Home-gallary/Audi-Q7.avif);
    background-size: cover;
}

.g {
    grid-area: g;
    background-image: url(Home-gallary/BMW-7series.avif);
    background-size: cover;
}

.g:hover~.imgbig {
    background-image: url(Home-gallary/BMW-7series.avif);
    background-size: cover;
}

.h {
    grid-area: h;
    background-image: url(Home-gallary/Mercedes-Benz-E-Class.avif);
    background-size: cover;
}

.h:hover~.imgbig {
    background-image: url(Home-gallary/Mercedes-Benz-E-Class.avif);
    background-size: cover;
}

.i {
    grid-area: i;
    background-image: url(Home-gallary/Hyundai-Tucson.avif);
    background-size: cover;
}

.i:hover~.imgbig {
    background-image: url(Home-gallary/Hyundai-Tucson.avif);
    background-size: cover;
}

.j {
    grid-area: j;
    background-image: url(Home-gallary/Audi-SQ8.avif);
    background-size: cover;
}

.j:hover~.imgbig {
    background-image: url(Home-gallary/Audi-SQ8.avif);
    background-size: cover;
}

.k {
    grid-area: k;
    background-image: url(Home-gallary/BMW-i5.jpg);
    background-size: cover;
}

.k:hover~.imgbig {
    background-image: url(Home-gallary/BMW-i5.jpg);
    background-size: cover;
}

.l {
    grid-area: l;
    background-image: url(Home-gallary/Mercedes-Benz-G-Class.avif);
    background-size: cover;
}

.l:hover~.imgbig {
    background-image: url(Home-gallary/Mercedes-Benz-G-Class.avif);
    background-size: cover;
}

.m {
    grid-area: m;
    background-image: url(Home-gallary/Hyundai-Sonata.avif);
    background-size: cover;
}

.m:hover~.imgbig {
    background-image: url(Home-gallary/Hyundai-Sonata.avif);
    background-size: cover;
}

.n {
    grid-area: n;
    background-image: url(Home-gallary/Audi-S8.jpg);
    background-size: cover;
}

.n:hover~.imgbig {
    background-image: url(Home-gallary/Audi-S8.jpg);
    background-size: cover;
}

.o {
    grid-area: o;
    background-image: url(Home-gallary/BMW-X3.avif);
    background-size: cover;
}

.o:hover~.imgbig {
    background-image: url(Home-gallary/BMW-X3.avif);
    background-size: cover;
}

.p {
    grid-area: p;
    background-image: url(Home-gallary/Mercedes-Benz-Maybach.jpg);
    background-size: cover;
}

.p:hover~.imgbig {
    background-image: url(Home-gallary/Mercedes-Benz-Maybach.jpg);
    background-size: cover;
}

.q {
    grid-area: q;
    background-image: url(Home-gallary/Hyundai-SantaFe.avif);
    background-size: cover;
}

.q:hover~.imgbig {
    background-image: url(Home-gallary/Hyundai-SantaFe.avif);
    background-size: cover;
}

.r {
    grid-area: r;
    background-image: url(Home-gallary/Audi-TT.avif);
    background-size: cover;
}

.r:hover~.imgbig {
    background-image: url(Home-gallary/Audi-TT.avif);
    background-size: cover;
}

.s {
    grid-area: s;
    background-image: url(Home-gallary/BMW-X5.avif);
    background-size: cover;
}

.s:hover~.imgbig {
    background-image: url(Home-gallary/BMW-X5.avif);
    background-size: cover;
}

.t {
    grid-area: t;
    background-image: url(Home-gallary/Mercedes-Benz-S-Class.avif);
    background-size: cover;
}

.t:hover~.imgbig {
    background-image: url(Home-gallary/Mercedes-Benz-S-Class.avif);
    background-size: cover;
}

.imgbig {
    align-self: center;
    width: 100%;
    height: 80%;
    grid-area: imgbig;
    background-image: url(img/Website-icon.webp);
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 2px black;
}

/*الذيل*/
.aboutlink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    grid-area: aboutlinkk;
    padding: 65px;
    box-shadow: 0px 0px 4px 4px #FF4C29;
    background-color: #1B1B1B;
}

.search-div {
    position: relative;
    display: inline;
    width: 90%;
    height: 2rem;
}

.search-div input {
    width: 100%;
    height: 100%;
    padding: 0.7rem 0.7rem;
    font-size: 16px;
    border: 2px solid wheat;
    border-radius: 5px;
    background: transparent;
    position: relative;
    z-index: 2;
    outline: none;
}

.search-div .fill {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #FF4C29;
    z-index: 1;
    transition: width 0.5s ease;
    pointer-events: none;
    border-radius: 5px;
}

.search-div input:focus~.fill {
    width: 100%;
}

.about {
    width: 100%;
    color: wheat;
    display: block;
    order: -1;
}

.about p {
    direction: rtl;
    text-align: right;
    line-height: 1.7rem;
    font-family: "Almarai", sans-serif;
    font-size: 1.2rem;
}

.p2 span {
    font-family: "Zen Dots", sans-serif;
    color: #FF4C29;
}

.links {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.links a {
    font-size: 2rem;
}

.links a:hover {
    transform: scale(1.1);
}

.aboutlink h2 {
    font-size: 1.7rem;
    font-family: "Quantico", sans-serif;
    color: #FF4C29;
}

.direction {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Services-blog {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Services-blog h2 {
    font-size: 2rem;
    font-family: "Quantico", sans-serif;
    color: #FF4C29;

}

.Services-blog a {
    width: fit-content;
    text-decoration: none;
    color: wheat;
    font-family: "Almarai", sans-serif;
    font-size: 1.2rem;
    text-align: center;
}

.Services-blog a:hover {
    color: #FF4C29;
    word-spacing: 0.3rem;
    transition: all 0.2s ease;
}

.privacy {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.privacy h2 {
    font-size: 2rem;
    font-family: "Quantico", sans-serif;
    color: #FF4C29;
    text-align: center;
}

.privacy a {
    width: fit-content;
    text-decoration: none;
    color: wheat;
    font-family: "Almarai", sans-serif;
    font-size: 1.2rem;
    align-self: center;
}

.privacy a:hover {
    color: #FF4C29;
    word-spacing: 0.3rem;
    transition: all 0.2s ease;
}

.map {
    flex: 1;
}

.map iframe {
    width: 50%;
    margin-left: 5rem;

}