body {
    margin: 0%;
}
.controlar {
    height: 300vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 200px 1fr 1fr 1fr 200px;
    grid-template-areas: 
    "hrr hrr"
    "sale suggestions"
    "view view"
    "view_search view_search"
    "foo2 foo2";
}
.hr {
    grid-area: hrr;
    box-shadow: 0px 0px 4px 4px #FF4C29;
    background-color: #1B1B1B;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.icon {
    background-image: url(img/1608991c6d8e4627368b1688ef9cb1f6.png);
    background-size: cover;
    width: 150px;
    height: 150px;
}

.h2a {
    position: relative;
    bottom: 45px;
    color: #d4b4ad;
    font-family: "Zen Dots", sans-serif;
    /*خط اسم الموقع*/
    font-size: 50px;
    text-shadow: 4px 2px 2px #FF4C29;
}

.h2b {
    position: relative;
    bottom: 45px;
    color: #d4b4ad;
    font-family: "Zen Dots", sans-serif;
    /*خط اسم الموقع*/
    font-weight: bolder;
    font-size: 40px;
    margin-left: 20px;
}

.tab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.a1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 40px 30px 20px;
    text-decoration: none;
    color: wheat;
    padding: 10px 25px;
    font-family: "Quantico", sans-serif;
    /*خط الازرار والخيارات*/
    font-size: 20px;
    font-weight: 700;
    transition: all 0.2s ease;
}

.a1:hover {
    color: black;
    background-color: #FF4C29;
    border-radius: 20px;
}






.sale {
    grid-area: sale;
}
.suggestions {
    grid-area: suggestions;
}
.view {
    grid-area: view;
}
.view_search {
    grid-area: view_search;
}




.foo2 {
    grid-area: foo2;
    width: 90%;
    padding: 65px;
    box-shadow: 0px 0px 4px 4px #FF4C29;
    background-color: #1B1B1B;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.a2 {
    font-family: "Zen Dots", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 50px;
    text-transform: capitalize;

}

.a2:hover {
    text-decoration: underline 2px #FF4C29;
}